<html>
<head>
  <title>Sudoku Game</title>   
  <!-- link to the CSS stylesheet -->
  <link href="/stylesheets/application.css" rel="stylesheet" type="text/css">
</head>
<body>
<h2> Traffic-Light Sudoku </h2>

<div class="whole_thing">
  <span id="sudoku">
    <form method="post">
      <!-- one div for each row -->
      <%= partial :grid %>
        <button><%= @button_text %></button>
    </form>
  </span>



  <span class="key_whole">
    <div id="flash">
      <h3><%= flash[:key_headline] %></h3>
    </div>

    <div class="key">

      <div class="key_box" id="incorrect"></div>
      <div class="key_def" id="flash">
        <%= flash[:incorrect_msg] %>
        </div>
      <br>
      <br>


      
      <div class="key_box" id="value-provided"></div>
      <div class="key_def" id="flash">
        <%= flash[:value_provided] %>
        </div>
      <br>
      <br>

      
      <div class="key_box" id="correct-guess"></div>
      <div class="key_def" id="flash">
        <%= flash[:inputted_correctly] %>
        </div>
    </div> 
  </span>
</div>
  
</body>
</html>