<html>
<head>
  <title>Sudoku Game</title>   
  <!-- link to the CSS stylesheet -->
  <link href="/stylesheets/application.css" rel="stylesheet" type="text/css">
</head>

<body>

<div class="container">

  <section class="logo">
    <div class="key_box_red"></div>
    <div class="key_box_amber" id="value-provided"></div>
    <div class="key_box_green" id="correct-guess"></div>
  </section>

  <h2> Stop-go-ku </h2>

  <section class="logo">
    <div class="key_box_red"></div>
    <div class="key_box_amber" id="value-provided"></div>
    <div class="key_box_green" id="correct-guess"></div>
  </section>

</div>

  <span id="sudoku">
    <form method="post">
      <!-- one div for each row -->
      <%= partial :grid %>
        

    <%= yield %>


  <section class="key_whole">
  
    <div class="key">

      <div class="key_box" id="incorrect-just-entered"></div>
      <div class="key_def" id="flash">
        <%= flash[:incorrect_msg] %>
        </div>
      <br>
      <br>
      
      <div class="key_box" id="value-provided"></div>
      <div class="key_def" id="flash">
        <%= flash[:value_provided] %>
        </div>
      <br>
      <br>
      
      <div class="key_box" id="correct-guess"></div>
      <div class="key_def" id="flash">
        <%= flash[:inputted_correctly] %>
        </div>
    </div> 
  </section>

  
</body>
</html>