<html>
<head>
  <title>Sudoku Game</title>   
  <link href="/stylesheets/application.css" rel="stylesheet" type="text/css">
  <style>
    a:link {color:#E68A8A;}    /* unvisited link */
    a:visited {color:#E68A8A;} /* visited link */
    a:hover {color:#FFD175;}   /* mouse over link */
    a:active {color:#E68A8A;}  /* selected link */
  </style>
</head>

<body>

<div class="container-logo">

  <section class="logo">
    <div class="key_box_red"></div>
    <div class="key_box_amber"></div>
    <div class="key_box_green"></div>
  </section>

  <h2> 
    <span id="red">Stop</span>
    -
    <span id="green">go</span>
    -
    <span id="amber">ku</span>
  </h2>


  <section class="logo">
    <div class="key_box_red"></div>
    <div class="key_box_amber"></div>
    <div class="key_box_green"></div>
  </section>

</div>

<main id="sudoku">
  <form method="post">
    
    <%= partial :grid %>

    <%= yield %>

<!-- the pages yielded to close the main and form tags, and open a nav tag -->

  <a href="/">Generate Easy Puzzle</a>
  <a href="/">Generate Hard Puzzle</a>
  <!-- <a href="/">Try new Swivel-doku<sup>TM</sup></a> -->
  <a href="/solver">Load your own puzzle</a>

</nav>

<section class="key_whole">
  
  <div class="key_box_red" id="flash"></div>
  <div class="key_def" id="flash">
    <%= flash[:incorrect_msg] %>
  </div>
  
  <div class="key_box_amber"></div>
  <div class="key_def" id="flash">
    <%= flash[:value_provided] %>
  </div>
  
  <div class="key_box_green"></div>
  <div class="key_def" id="flash">
    <%= flash[:inputted_correctly] %>
  </div>
  
</section>

  
</body>
</html>