<!DOCTYPE html>
<html>
  <head>
    <title>Sudoku Game</title>   
    <link href="/stylesheets/reset.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/general.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/logo.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/puzzle.css" rel="stylesheet" type="text/css">
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="/javascript/application.js" type="text/javascript"></script>
  </head>

  <body id=<%= @body_id%>>

    <div class="container-logo">

      <section class="logo">
        <div class="red_box"></div>
        <div class="amber_box"></div>
        <div class="green_box"></div>
      </section>

      <h2> 
        <span id="red">Stop</span>
        -
        <span id="green">go</span>
        -
        <span id="amber">ku</span>
      </h2>


      <section class="logo">
        <div class="red_box"></div>
        <div class="amber_box"></div>
        <div class="green_box"></div>
      </section>

    </div>

    <nav>

      <a href="/new_easy">New easy puzzle</a>
      <a href="/new_hard">New hard puzzle</a>
      <a href="/solver">Load own puzzle</a>

    </nav>

    <main id="sudoku">

      <form action=<%= @action %> method=<%= @method %>>
        
        <%= partial :grid %>

        <button><%= @button_text %></button>
        
      </form>
      <%= yield %>

    </main>

    

    <section class="key_whole">
      
      <div class="red_box" id="flash"></div>
      <div class="key_def" id="flash">
        <%= flash[:incorrect_msg] %>
      </div>
      
      <div class="amber_box"></div>
      <div class="key_def" id="flash">
        <%= flash[:value_provided] %>
      </div>
      
      <div class="green_box"></div>
      <div class="key_def" id="flash">
        <%= flash[:inputted_correctly] %>
      </div>
      
    </section>

    
  </body>
</html>